---
# An ImagePullSecret allowing Kubernetes to pull the private visualisation
# image from ghcr. Deployed to the Data Manager namespace. The operator is
# given this Secret's *name* through its 'SVO_IMAGE_PULL_SECRET' environment
# variable; it does not need the Secret itself.
kind: Secret
apiVersion: v1
metadata:
  name: {{ svo_image_pull_secret_name }}
  namespace: {{ svo_dm_namespace }}
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: {{ svo_github_image_pull_secret }}
